.clb-hdr {
  display: block;
  top: 30px;
  margin: -20% auto;
  width: 30rem;
}


.ui.primary.menu {
  margin: 0;
}

.card{
  margin: auto 20px;
  border-left: 10px #739CB9 solid;
  width: 50%;
}

.cards-ctn {
  /*margin: 3% 15%;*/
  display: block;
  position: relative;
  margin: 3% auto;
  max-width: 80%;
}
